Codigo/Instalador/Coordenadas_Equipos.csv
Codigo/Instalador/Funciones_basicas.py
Codigo/Instalador/Funciones_config.py
Codigo/Instalador/Funciones_mensual.py
Codigo/Instalador/Funciones_tormenta.py
Codigo/Instalador/interfaz.py
Codigo/Instalador/isoyetas.py
Codigo/Instalador/Logo_Dica.png
Codigo/Instalador/Logo_Grupo_Tau.png
Codigo/Instalador/Logo_imm.jpg
Codigo/Instalador/Lugares-ID.csv
Codigo/Instalador/main.py
Codigo/Instalador/main.spec
Codigo/Instalador/MONTEVIDEO.png
Codigo/Instalador/precipitacion.ico
Codigo/Instalador/setup.iss
Codigo/Instalador/build/main/Analysis-00.toc
Codigo/Instalador/build/main/base_library.zip
Codigo/Instalador/build/main/EXE-00.toc
Codigo/Instalador/build/main/main.pkg
Codigo/Instalador/build/main/PKG-00.toc
Codigo/Instalador/build/main/PYZ-00.pyz
Codigo/Instalador/build/main/PYZ-00.toc
Codigo/Instalador/build/main/warn-main.txt
Codigo/Instalador/build/main/xref-main.html
Codigo/Instalador/build/main/localpycs/pyimod01_archive.pyc
Codigo/Instalador/build/main/localpycs/pyimod02_importers.pyc
Codigo/Instalador/build/main/localpycs/pyimod03_ctypes.pyc
Codigo/Instalador/build/main/localpycs/pyimod04_pywin32.pyc
Codigo/Instalador/build/main/localpycs/struct.pyc
Codigo/Instalador/dist/Coordenadas_Equipos.csv
Codigo/Instalador/dist/Logo_Dica.png
Codigo/Instalador/dist/Logo_Grupo_Tau.png
Codigo/Instalador/dist/Logo_imm.jpg
Codigo/Instalador/dist/Lugares-ID.csv
Codigo/Instalador/dist/main.exe
Codigo/Instalador/dist/MONTEVIDEO.png
Codigo/Instalador/dist/precipitacion.ico
Codigo/Instalador/Output/Procesamiento_Precipitaciones_setup.exe
